.weather-card {
  width: 100%;
  background-color: #fff;
  color: #000;
}

.weather-form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  mat-form-field {
    width: 100%;
  }

  .search-button {
    align-self: flex-end;
  }
}

.weather-info {
  margin-top: 16px;
  font-size: 16px;
  color: #000;
}

mat-card {
  height: 90%;
}
