.app-container {
  padding: 16px;
  display: flex;
  justify-content: center;
  background-color: #fff;

  .grid-list {
    max-width: 800px;
    width: 100%;
  }
  .child-container {
    width: 90%;
    height: 90%;
  }

  mat-card-title,
  mat-card-subtitle {
    color: #000;
  }
}
