<mat-card>
    <mat-card-header>
        <mat-card-title>Weather Search</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form
            [formGroup]="weatherForm"
            (ngSubmit)="getWeather()"
            class="weather-form"
        >
            <mat-form-field appearance="outline">
                <mat-label>Search</mat-label>
                <input
                    matInput
                    placeholder="Type something..."
                    formControlName="city"
                />
                <button mat-icon-button matSuffix type="submit">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
        </form>

        @if (historyStore.isLoading()) {
        <div style="justify-content: center; display: flex">
            <mat-spinner></mat-spinner>
        </div>
        } @if (historyStore.hasError()) {
        <div class="error-message">
            Could not fetch weather data. Please try again.
        </div>
        }
    </mat-card-content>
</mat-card>
