.history-card {
    height: 100%;
    width: 100%;
    background-color: #fff;
    color: #000;
}

.history-item {
    margin: 4px 0;
}

mat-card {
    height: 90%;
}

mat-card-header {
    justify-content: center;
    padding-bottom: 20px;
}

mat-card-actions {
    align-self: end;
    margin: auto 0 0;
}
