<mat-card>
    <mat-card-header>
        <mat-card-title>Weather Info</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        @if(!weatherData) {
        <p>No data available</p>
        } @if (weatherData | async; as data) {
        <div class="weather-info">
            <p>
                <strong>Temperature:</strong>
                {{ data.current.temperature }} °C
            </p>
            <p><strong>Wind:</strong> {{ data.current.wind_speed }} km/h</p>
            <p>
                <strong>Description:</strong>
                {{ data.current.weather_descriptions }}
            </p>
        </div>
        }
    </mat-card-content>
</mat-card>
