<mat-card>
    <mat-card-header>
        <mat-card-title>Weather Info</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        @if(store.isEmpty()) {
        <p>No data available</p>
        } @else {
        <div class="weather-info">
            <p>
                <strong>Temperature:</strong>
                {{ store.current().current.temperature }} °C
            </p>
            <p>
                <strong>Wind:</strong>
                {{ store.current().current.wind_speed }} km/h
            </p>
            <p>
                <strong>Description:</strong>
                {{ store.current().current.weather_descriptions }}
            </p>
        </div>
        }
    </mat-card-content>
</mat-card>
